<% unless current_user.nil? %>
	<div class="page-header">
		<h2>Welcome to DarthSubs!</h2>
	</div>
	<% if current_user.has_role? :cook %>
	You have work to do. Please proceed to the Orders list.
	<% elsif current_user.has_role? :admin %>
	Welcome, boss. Hope you enjoy your visit here!
	<% else %>
	<div class="row">
	  <div class="span9">
		<strong>Here is a list of your recent orders:</strong><br />
		<div id="current_orders"></div>		
			<%= render :partial => 'status_table' %>
	  	</div>
	</div></div>
	<% end %>
<% else %>
	<div class="hero-unit">
		<h2>Welcome to DarthSubs</h2>
		<p>Why not sign up for some great subs? Try the Darth for the best in dark bread and meats, or the VaderVeggie and 		
		VaderVeggiePlus for even more of a good thing!</p>
		<p>
		<%= link_to 'Sign In', new_user_session_path, :class => "btn btn-info btn-large" %>  
	    <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-warning btn-large" %>
		</p>
	</div>
<% end %>
